div.code-with-filename {
    position: absolute;
    margin: 0;
    left: 0px;
    width: 800px;
    top: 0px;
    bottom: 0px;
}

.reveal .footer > * {
	display: none;
}

.reveal img {
    margin: 0
}

.qr-space {
  display: block;
  height: 200px;
}

.qrcode {
  width: 300px;
  height: 300px;
}

.qrcode img {
  width: 300px;
  height: 300px;
}